* {
  margin: 0;
  padding: 0;
}

.header {
  padding: 0;
  background: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  height: 6vh;
  color: white;
  background: #383876;
  width: 100%;
}

.header .header-top .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 84%;
  margin-left: 8%;
}

.header .header-top .box .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.7rem;
}

.header .img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  width: 95%;
}

.header .divider {
  background: rgba(78, 78, 78, 0);
  width: 100%;
}

.header .bottom_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.header .bottom_header .btn:hover {
  background: red;
  color: white;
}

.header .MuiMenu-list {
  width: 800px !important;
}
