.india-map {
  position: relative;
  top: 0;
  cursor: auto;
}

.hloworld {
  display: grid !important;
  color: red !important;
}

#box-color {
  width: 10px;
  height: 10px;
  background-color: red;
}
