.footer {
  padding-top: 60px;
}

.footer .footer_1 {
  justify-content: center;
}

.footer .footer_1 .content {
  text-align: center;
  margin-top: 2vh;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 0;
  color: #131523;
}

.footer .footer_2 {
  margin-top: 4vh;
  z-index: -1000;
}

.footer .footer_2 .header {
  z-index: -1;
  padding-top: 7vh;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1px;
  background-color: white;
  line-height: 1.2;
  font-family: Poppins, sans-serif;
}

.footer .footer_2 .content {
  z-index: -1;
  color: #131523;
  font-size: 1.23em;
  line-height: 1.5;
  font-weight: 400;
  padding-top: 3vh;
  font-family: Poppins, sans-serif;
}

.footer .footer_2 .MuiGrid-item {
  padding-top: 0 !important;
}

.animateLeft {
  animation-duration: 2s;
  z-index: -1;
  animation-name: animate_left;
}

@keyframes animate_left {
  0% {
    translate: -100px 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    transition: 0px 0px;
    opacity: 1;
    z-index: -1;
  }
}

.animateRight {
  animation-duration: 2s;
  z-index: -1;
  animation-name: animate_right;
}

@keyframes animate_right {
  0% {
    translate: 100px 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    transition: 0px 0px;
    opacity: 1;
    z-index: -1;
  }
}

.linksfooter {
  margin-top: 4em !important;
  padding: 3em 0;
  color: #f8f9fa;
  background-color: #383876;
}

.linksfooter .link {
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  letter-spacing: 0.07px;
}

.linksfooter .about_pgid {
  list-style-type: ">";
  font-weight: 400;
  padding-top: 2vh;
  line-height: 2;
  letter-spacing: 0.14px;
  font-size: 0.975em;
}

.linksfooter .about_pgid li:hover {
  color: #d94148;
}

.linksfooter .about_pgid .about_pgid_nested {
  list-style-type: disc;
  padding-left: 16px;
  line-height: 2;
  letter-spacing: 0.14px;
  font-size: 0.85em;
  color: #fff;
}

.linksfooter .about_pgid_nested_nic {
  padding-top: 3vh;
  letter-spacing: 0.14px;
  font-size: 0.75em;
  margin-bottom: 0px !important;
}

.footer_bottom {
  color: #f8f9fa;
  background-color: #2f2f65;
  padding: 1vh 0;
}

.footer_bottom .text_footer {
  font-family: Poppins, sans-serif;
  font-size: 0.87em;
  letter-spacing: 0.37px;
  padding: 0 2.5vw;
}
