
@import "../Variables";
.footer {
  padding-top: 60px;
  
  .footer_1 {
    justify-content: center;
    .content {
      text-align: center;
      margin-top: 2vh;
      font-size: 1.1em;
      line-height: 1.5;
      padding: 10px 0;
      color: $primary-black;
    }
  }
  .footer_2 {
    margin-top: 4vh;
    z-index: -1000;

    .header {
      z-index: -1;
      padding-top: 7vh;
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: 0.1px;
      background-color: white;
      line-height: 1.2;
      font-family: Poppins, sans-serif;
     
 
    }
    .content {
      z-index: -1;
      color: $primary-black;
      font-size: 1em;
      line-height: 1.5;
      padding-top: 3vh;
      font-family: Poppins, sans-serif;
    }
    .MuiGrid-item{
      padding-top: 0!important;
    }
    .img{

    }
    
  }
  
}
.animateLeft {
  animation-duration: 2s;
  z-index: -1;
  animation-name: animate_left;
}
@keyframes animate_left {
  0% {
    translate: -100px 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    transition: 0px 0px;
    opacity: 1;
    z-index: -1;
  }
}
.animateRight {
  animation-duration: 2s;
  z-index: -1;
  animation-name: animate_right;
}
@keyframes animate_right {
  0% {
    translate: 100px 0px;
    opacity: 0;
    z-index: -1;
  }
  100% {
    transition: 0px 0px;
    opacity: 1;
    z-index: -1;
  }
}
.linksfooter{
  margin-top: 4em !important;
  padding: 3em 0;
  color: $primary-white;
  background-color: $primary-purple;
  .link{
    color: #fff;
    font-size: 1.125em;
    font-weight: 500;
    letter-spacing: .07px;
  }
  .about_pgid{
    list-style-type: ">";
     
    font-weight: 400;
    padding-top: 2vh;
    line-height: 2;
  letter-spacing: .14px;
  font-size: .975em;
  li{

    &:hover{
      color: $primary-red;
    }
  }
  .about_pgid_nested{
    list-style-type: disc;
      padding-left: 16px;
      line-height: 2;
      letter-spacing: .14px;
      font-size: .85em;
      color: #fff;
      
  }
}
.about_pgid_nested_nic{
  padding-top: 3vh;
    letter-spacing: .14px;
    font-size: .75em;
    margin-bottom: 0px !important;
}
}
.footer_bottom{
  color: $primary-white;
  background-color: $secondary-purple;
 
  .text_footer{
   font-family: $primary-font;
   font-size: .87em;
    letter-spacing: .37px;
    
  }
}
